body {
  background-color: #3a3b3f;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container__page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn__sort__main {
  height: 30px;
  width: 60px;
  text-align: center;
}
.btn__sort__maina {
  text-decoration: none;
  color: #ffffff;
}

.table__main {
  height: 70%;
  width: 100%;
}

.footer__main {
  height: 110px;
  width: 100%;
  background: linear-gradient(40deg, #3d0e58, #0069d9);
  z-index: 1;
  color: white;
  font-size: 16px;
}

.footer__content {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
